@import './constants.css';

.gameDetailContainer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.gameDetail {
    padding-top: 80px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.471);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(4px);
}


.gameTitle{
    font-size: 3.5rem;
}

.genreLink{
    text-wrap: nowrap !important;
    background-color: rgba(255, 255, 255, 0.227);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}

.genreLink:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}


.platformLink{
    text-wrap: nowrap !important;
    background-color: rgba(0, 0, 0, 0.227);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}


.platformLink:hover{
    background-color: rgba(255, 119, 0, 0.5);
    transition: 0.3s;
}


.favouritesBtn{
    background-color: rgba(58, 134, 50, 0.585);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}

.favouritesBtn:hover{
    background-color: rgba(103, 189, 91, 0.5);
    transition: 0.3s;
}

.removeFavouritesBtn{
    background-color: rgba(183, 0, 0, 0.437);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}

.removeFavouritesBtn:hover{
    background-color: rgba(255, 0, 0, 0.5);
    transition: 0.3s;
}

.gameImg{
    width: 50%;
}


.moreInfo{
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 100%);
}


.descrizione{
    max-height: 310px;
    overflow-y: auto;
}

.gameInfoDetails{
    background: rgba(255, 255, 255, 0.05);
}

.chart{
    height: 200px;
}

.valoriAcc{
    color: var(--acc);
}


.screenShotsPreviews{
    width: 10%;
    transition: 0.2s;
}

.screenShotsPreviews:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}


.commentInput{
    border-color: transparent !important;
}

.commentInput:focus-visible{
    outline: transparent !important;
}

.commentInput::placeholder{
    color: rgb(182, 182, 182) !important;
}

.containerCommenti{
    max-height: 250px;
    overflow-y: auto;
}

.commentForm{
    background-color: rgba(255, 255, 255, 0.05);
}

.commentSubmitButton:hover{
    color: var(--acc) !important;
}