@import './constants.css';

header{
    height: 75vh;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(255,255,255,0) 100%), url(../../header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerTitle{
    height: 75vh;
    background: rgba(0, 0, 0, 0.499);
}