@import './constants.css';


nav{
    z-index: 999;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.592) 35%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.linkCustom{
    color: var(--white) !important;
    text-decoration: none !important;
}

.linkCustom:hover{
    color: var(--acc) !important;
}

.logoNav{
    height: 30px;
}

.logSignBtns{

    background-color: rgba(255, 255, 255, 0.209);
    color: var(--white) !important;
    border-color: white !important;

}

.searchInputCustom{
    background-color: rgba(255, 255, 255, 0.209);
    color: var(--white) !important;
    border-color: white !important;
}

.searchInputCustom::placeholder{
    color: var(--white) !important;
}


.searchInputCustom:focus{
    background-color: transparent;
    border-color: var(--white) !important;
    box-shadow: none !important;
}

.btnSearchNavCustom{
    position: absolute;
    text-align: center;
    border: none;
    width: 40px;
    height: 100%;
    background-color: transparent;
    color: var(--white);
    border-radius: 50%;
    top: 2px;
    right: -10px;
    transition: 0.2s;
}

.btnSearchNavCustom:hover{
    background-color: transparent;
    color: var(--acc);
    transition: 0.2s;
}

.searchResultsContainer{
    max-height: 300px;
    overflow-y: auto;
}

.searchSuggestions{
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.908);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.imgSearch{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}


.btnCloseSearchResults{
    background-color: transparent;
    border: none;
    color: var(--white);
    margin-bottom: 20px;
}


.btnCloseSearchResults:hover{
    color: var(--acc);
}



.dropdownUser{
    background-color: rgba(255, 140, 0, 0.209);
    color: var(--white) !important;
}


.profileBtn:hover{
    color: white !important;
    background-color: rgba(133, 133, 133, 0.498) !important;
    transition: 0.2s;    
    border-radius: 10px 10px 0px 0px !important;
}


.logoutBtn{
    background-color: red;
    transition: 0.2s;
    border-color: white;
    border-radius: 0px 0px 10px 10px !important;
    color: white !important;
}

.logoutBtn:hover{
    color: white !important;
    background-color: rgba(153, 0, 0, 0.8) !important;
    transition: 0.2s;    
    border-radius: 0px 0px 10px 10px !important;
}

.dropdownMenuCustom{
    background-color: rgba(0, 0, 0, 0.687);
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    nav{
        background: linear-gradient(180deg, rgb(0, 0, 0) 80%, rgba(255,255,255,0) 100%);
    }

    .navbar-toggler-icon{
        background-image: url("../../images/navbar_burger.png") !important;
    }

    .logSignBtnsContainers{
        width: 45% !important;
        display: inline-block !important;
        background-color: rgba(255, 255, 255, 0.209);
        color: var(--white) !important;
        border: 1px solid white !important;
        padding: 10px;
        /* border-radius: 30%; */
        text-align: center !important;

    }

    .logSignBtns{
        display: flex !important;
        justify-content: space-between !important;
        background-color: transparent !important;
        border: none !important;
        margin-top: 10px;
        padding-left: 0px !important;
    }

    .dropdownUser{
        margin-left: 300px;
    }

    .dropdownMenuCustom{
        width: 30% !important;
        margin-left: 250px;
    }
}